{% extends 'base.html' %}
{% load static %}


<!--================ Banner =================-->
<!--================ File In Snippets Webpages Index Single Blog =================-->
{% block content_after_banner0 %}
	{% include 'snippets/webpages/index/banner.html' %}
{% endblock %}

<!--================ Item After Banner =================-->
<!--================ File In Snippets Webpages Blog =================-->
{% block content_after_banner01 %}
{% include 'snippets/webpages/blog/blog_category.html' %}    
{% endblock %}


<!--================ Item After Banner =================-->
<!--================ File In Snippets Webpages Blog =================-->
{% block content_after_banner02 %}
{% include 'snippets/webpages/blog/blogarea.html' %}
{% endblock %}
