<!--================ Pages Landing Home =================-->
{% extends 'base.html' %}


<!--================ Banner =================-->
<!--================ File In Snippets Webpages Index Single Blog =================-->
{% block content_after_banner0 %}
  {% include 'snippets/webpages/index/banner.html' %}
{% endblock %}


{% block content_after_banner01 %}
	<!--================ Start Portofolio File In Snippets =================-->
	{% include 'snippets/webpages/index/portofolio.html' %}
{% endblock %}


{% block content_after_banner02 %}
  <!--================ Start About File In Snippets =================-->
  {% include 'snippets/webpages/index/about.html' %}
{% endblock %}


{% block content_after_banner03 %}
  <!--================ Start Testimonial File In Snippets =================-->
  {% include 'snippets/webpages/index/testimonial.html' %}
{% endblock %}


{% block content_after_banner04 %}
  <!--================ Start Newsletter File In Snippets =================-->
  {% include 'snippets/webpages/index/newsletter.html' %}
{% endblock %}